@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Merriweather", sans-serif;
}

* {
  font-family: "Merriweather", sans-serif;
}

body{
  background: #F9FAFB;
}


::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}


